*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: black;
    border-radius: 50px;
    height: 300px;
    width: 100px;
    padding: 30px;
    margin-top: 200px;
}

#one{
    background-color: red;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 15px 0px 0px 15px;
}
#two{
    background-color: yellow;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 15px 0px 0px 15px;
}
#three{
    background-color: green;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 15px 0px 0px 15px;
}
